
main{
  margin-top: 130px;
  
}

h1{
  margin: 15px;
  text-transform: uppercase;
  
}

.title{
  margin: 0;
}

.form{
  font-size: 22px;
  margin: 20px;
  padding: 20px;
}

label, input{
  margin-top: 10px;
}

.button {
  background-color: #ffd700;
  border: none;
  color: black;
  padding: 10px;
  font-size: 22px;
  margin-bottom: 10px;
  transition: .3s all;
  border-radius: 5px;
  box-shadow: 2px 2px 1px;
}

.button:hover {
  filter: brightness(0.9);
}